section.credits
  position: relative
  margin-bottom: -12vw
  .item_3
    display: flex
    justify-content: flex-end
    align-items: center
    transform: translateY(-12vw)
    p.intro
      width: 55%
      margin-right: -21vw

    .credits_img
      width: 620px
      //height: 620px
      display: block
      transform: translateX(35%)
      position: relative
      &::after
        height: 100%
        width: 620px
        bottom: -12vw
        left: -18vw
      &::before
        display: none
