a
	color: $neon
	text-decoration: none
	font-family: $copy__regular
	transition: all ease .7s

	&:visited
		color: $neon


	&:hover,
	&:focus,
	&:active
		color: $neon

	&:hover,
	&:active
		outline: 0

.tel, .mail
	@include font__regular
	text-decoration: underline
