<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.metaTitle }}</title>
    <meta name="description" content="{{ site.metaDescription }}">

    <!-- favicon -->
    <link rel="icon" href="/assets/fav/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">
    <link rel="manifest" href="/assets/fav/site.webmanifest">


    <!-- Cookie Consent
    <link rel="preconnect" href="//privacy-proxy.usercentrics.eu">
    <link rel="preload" href="//privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js" as="script">
    <script type="application/javascript" src="https://app.usercentrics.eu/latest/main.js" id="Q7APmrA3X"></script>
    <script type="application/javascript" src="https://privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js"></script>

    -->

    <!-- Preconnect Fonts -->
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin />

    <!-- Preload Fonts -->
    <link rel="preload" as="style" href="https://use.typekit.net/zdo6kdl.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zdo6kdl.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/zdo6kdl.css">
    </noscript>

    <!-- styles -->
    <link rel="stylesheet" href="/style.css">

    <!-- else -->
    <meta name="theme-color" content="#383838">

    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ site.metaTitle }}">
    <meta property="og:image" content="{{ site.metaImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ site.metaDescription }}">

  </head>
  <svg style="display:none;">
    <symbol id="tghb_logo" viewBox="0 0 108 108">
      <path class="tghb_logo__path" d="M89.8,75.3c0,6.5-6,13.8-17.8,21.6c-8.4,5.6-17.8,9.8-17.8,9.8l-0.2,0.1l-0.2-0.1c-0.1,0-9.4-4.3-17.8-9.8
      	c-11.8-7.8-17.8-15-17.8-21.6V26.6h-6.5v49.1H8.3V14.5H0v-3.4h11.7v12.1h6.5v-22h71.6v17.3h-3.4V4.6H21.6v18.6h27.3v3.4H21.6v48.7
      	c0,5.2,5.6,11.7,16.2,18.7c7,4.6,14.2,8.1,16.3,9.1c1.7-1,8.9-4.4,16-9.1c10.6-7,16.3-13.5,16.3-18.7V34.6h-10v-3.4h13.4L89.8,75.3
      	L89.8,75.3z M55.7,14.5v35h8.5c0.4,0,4.3-0.2,4.3-5c0-1.8-0.4-3.1-1.3-3.9c-1.2-1.2-3-1.2-3-1.2h-5.1v-3.4h5.1
      	c0.3,0,3.2,0.1,5.4,2.2c1.5,1.5,2.3,3.7,2.3,6.4c0,2.6-0.8,4.7-2.3,6.2c-0.1,0.1-0.2,0.2-0.3,0.3c0.1,0.1,0.3,0.2,0.4,0.2
      	c2.5,1.5,5.4,4.8,5.4,11.5c0,6.7-3,9.9-5.4,11.5c-2.7,1.7-5.4,1.7-5.5,1.7h-5.1v-3.4h5.2c0,0,2-0.1,3.8-1.2c2.5-1.6,3.8-4.5,3.8-8.5
      	c0-4.1-1.3-6.9-3.8-8.5c-1.9-1.2-3.8-1.2-3.9-1.2h-8.5v35.1h4.1v3.4H48.2v-3.4h4.1V52.8H40.3v19.5h8.7v3.4H32.8v-3.4h4.1V39.2h-4.1
      	v-3.4h16.1v3.4h-8.7v10.2h12.1v-35H31.5v4.1h-3.4v-7.5h51.7v7.5h-3.4v-4.1L55.7,14.5L55.7,14.5z M108,14.5h-8.3v61.2h-3.4V26.6H59.1
      	v-3.4h37.2V11.1H108V14.5z"/>
    </symbol>
  </svg>
  <body>
    {%- include "partials/header.njk" -%}
    <main>

      {{ content | safe }}

    </main>

    {%- include "partials/footer.njk" -%}


    <script type="module" src="/js/main-min.js" async></script>

  </body>
</html>
