<!DOCTYPE html>
<html lang="de" dir="ltr" id="{{ page.fileSlug }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.metaTitle }}</title>

    <!-- favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Preconnect Fonts -->
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin />

    <!-- Preload Fonts -->
    <link rel="preload" as="style" href="https://use.typekit.net/zdo6kdl.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zdo6kdl.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/zdo6kdl.css">
    </noscript>

    <!-- Cookie Consent -->
    <link rel="preconnect" href="//privacy-proxy.usercentrics.eu">
    <link rel="preload" href="//privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js" as="script">
    <script type="application/javascript" src="https://app.usercentrics.eu/latest/main.js" id="Q7APmrA3X"></script>

    <!-- styles -->
    <link rel="stylesheet" href="/style.css">

    <!-- else -->
    <meta name="theme-color" content="#383838">

    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ site.metaTitle }}">
    <meta property="og:image" content="{{ metaImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ site.metaDescription }}">

  </head>
  <svg style="display:none;">

  </svg>
  <body>
    {%- include "partials/header.njk" -%}
    <main>

      {{ content | safe }}

    </main>

    {%- include "partials/footer.njk" -%}


    <script type="text/javascript" src="/js/main-min.js" defer></script>

  </body>
</html>
