---
layout: layout/base.njk
title: Impressum
---
<section class="imprint spcr">
  <div class="wrapper">
    <h3>Impressum</h3>
    <br>
    <h5>Angaben gem&auml;&szlig; &sect; 5 TMG</h5>
    <p>
      AppleRockStudios<br>
      Hans G&uuml;nter Wagener<br />
      Am Burgacker 35<br />
      65207 Wiesbaden
    </p>
    <br>
    <h5>Kontakt</h5>
    <p>Telefon: +49 172 604 71 26<br />
    E-Mail: studio@wagener-music.com</p>
    <br>
    <h5>Umsatzsteuer-ID</h5>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE123446789</p>
    <br>
    <h5>EU-Streitschlichtung</h5>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
    <br>
    <h5>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h5>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <br>
    <h5>Design & Code</h5>
    <a href="https://tghb.studio/" target="_blank" rel="noopener noreferrer" class="tghb_credits">
      <svg class="tghb_logo" alt="TheGrandHeavyBold Studio">
				<use xlink:href="#tghb_logo"></use>
			</svg>
      TheGrandHeavyBold
    </a>
  </div><!-- .wrapper -->
</section><!-- .imprint -->
