---
layout: layout/base.njk
title: Hans Günter Wagener
---

<section class="stage lx nx0">
  <h1>
    Wagener Music
  </h1>
</section><!-- stage -->

<section class="about nx5">
  <div class="wrapper">

    <div class="item_1">
      <h1 class="nx10">
        Hans Günter <br>
        ist ein<br> Komponist<br> & Musiker
      </h1>
    </div><!-- .item_1 -->

    <div class="item_2">
      <div class="rnd_img about_img">
        {% picture "hans-günter-wagener.png", "Portrait – Hans Günter Wagener"%}
      </div><!-- .rnd_img -->
    </div><!-- .item_2 -->

    <div class="item_3">
      <h1 class="nx10">
        Mit Sitz in
      </h1>
    </div><!-- .item_3 -->

    <div class="item_4 ">
      <h1 class="nx10 hxl">
        Wiesbaden/Hessen/Wiesbaden/Hessen/Wiesbaden/Hessen/Wiesbaden/Hessen/Wiesbaden/Hessen/Wiesbaden/Hessen/
      </h1>
    </div><!-- .item_4 -->

    <div class="item_5">
      <p class="ctr about_copy spcr oov">
        Hans Günter Wagener ist einer der erfolgreichsten Filmkomponisten in Deutschland – seit mehr als 30 Jahren. Ihn und seine Soundtracks kennt jeder vom Hören – aus Spielfilmen, Dramen, Krimis, Serien, Dokumentationen oder Sendungs-Intros mit hoher Wiedererkennung gleich beim ersten Takt.
        <br><br>
        Im eigenen Studio in Wiesbaden entstehen kreative Produktionen mit namhaften Kollegen,
        Producern und Künstlern wie Frank Peterson (Sarah Brightman), Mike und Sally Oldfield, Mark Hudson (Aerosmith, Bon Jovi), Wolfgang Rademann oder Max Färberböck.
      </p><!-- .about_copy -->
    </div>

  </div><!-- .wrapper -->
</section><!-- about -->

<section class="credits">

  <div class="wrapper">

    <div class="item_1">
      <h1 class="hxl">
        Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/Filmografie/
      </h1>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h1 class="hxr nx10">
        Komponist/Komponist/Komponist/Komponist/Komponist/Komponist/Komponist/Komponist/Komponist/Komponist/
      </h1>
    </div><!-- .item_2 -->

    <div class="item_3">
      <p class="intro nx5 oov spcr">
        Kompositionen für TV-Produktionen, Fernsehfilmen, Wissensmagazine, Nachrichtensendungen oder Polit-Talk – seine Bandbreite ist riesig! <br><br>Eine Auswahl:
      </p>

      <div class="rnd_img credits_img nx0">
        {% picture "hans-günter-wagener_01.png", "Portrait – Hans Günter Wagener"%}
      </div><!-- .rnd_img -->
    </div><!-- .item_3 -->

    <div class="item_4">
      {%- include "partials/imdb.njk"-%}
    </div><!-- .item_4 -->

  </div><!-- .wrapper -->

</section><!-- credits -->

<section class="hero">
  {% picture "bigband.png", "Babelsberg Filmorchester – Hans Günter Wagener"%}
  <div class="wrapper">
    <h2 class="quote lx" data-speed=".025">
      „Die Welt braucht frische Sounds! <br>Jeden Tag aufs Neue.“
    </h2>
  </div>
</section><!-- hero -->

<section class="biography">
  <div class="wrapper">
    <h1 class="hxr">
      Biografie/Biografie/Biografie/Biografie/Biografie/Biografie/Biografie/Biografie/Biografie/Biografie/
    </h1>
    <h1 class="hxl">
      Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/Vita/
    </h1>
    <div class="vita spcr">
      <div class="item_1 oov">
        <p>
          Hans Günter Wagener – unbestreitbar seit vielen Jahrzehnten eine feste Größe als Filmkomponist im deutschen Fernsehgeschäft. In über 2.000 Werken beweist der gebürtige Dortmunder bis heute sein Können – auf nationalem und internationalem Level.
        </p>
      </div><!-- .item_1 -->

      <div class="item_2 oov">
        <h5>Von der Pike auf</h5>
        <p>
          Zugute kommt ihm sein klassisches Studium an der Musikhochschule Dortmund mit Schwerpunkten Klavier und Klarinette. Er spielte in renommierten Orchestern, in der Media Band des WDR unter Leitung von Harald Banter und in den bekannten Bigbands von Kurt Edelhagen und Peter Herbolzheimer.
          <br><br>
          Fest steht: Der bodenständige Künstler und Filmkomponist beherrscht sein Handwerk wie kaum ein Zweiter. Die Mutter war Opernsängerin, der Vater Musiker. Sie entdeckten sein musikalisches Talent bereits im Alter von 5 Jahren.
        </p>
      </div><!-- .item_2 -->

      <div class="item_3 oov">
        <h5>Musiker, Komponist & Produzent</h5>
        <p>
          Noch während seiner Orchester-Engagements arbeitete er als Studiomusiker in Köln. In dieser Zeit komponierte er bereits eigene Werke, auch Werbemusik. Er gründete Anfang der 1980er-Jahre die legendäre Gesangsgruppe „Headline“, deren Hörfunk-Produktionen und Auftritte im deutschen Unterhaltungsfernsehen nicht mehr wegzudenken waren.
        </p>
      </div><!-- .item_3 -->

      <div class="item_4 oov">
        <h5>Inspirationen als Filmkomponist</h5>
        <p>
          „Beim Komponieren tauche ich tief in Filmszenen ein!“, sagt er über seine Arbeitsweise. Die Musik entstehe so fast von alleine. Am liebsten sind ihm große Scores, die die Handlung musikalisch begleiten. Gemeinsam mit dem Babelsberger Filmorchester spielt er diese ein – diese Dynamik ist in den Stücken zu spüren. Sein Vorbild: der mehrfache Oscar- und Grammy-Gewinner John Williams.
          <br><br>
          Heute lebt das Ausnahmetalent in Wiesbaden und arbeitet dort im eigenen Tonstudio an neuen Sounds: eingängige Serienmelodien, tragende Score-Musik oder dynamische Trailer für Film und Fernsehen.
        </p>
      </div><!-- .item_4 -->

      <div class="item_5 oov">
        <h5>Internationale Produktionen </h5>
        <p>
          Im eigenen AppleRockStudio entstehen auch kreative Arbeiten mit namhaften Kollegen, Producern und Künstlern – wie Frank Peterson, Produzent der international erfolgreichen Sopranistin Sarah Brightman. Oder Mike und Sally Oldfield. Auch Mark Hudson, Songwriter von Aerosmith und Bon Jovi gehört dazu, genauso wie der bekannte Fernsehproduzent Wolfgang Rademann und der Filmregisseur Max Färberböck.
        </p>
      </div><!-- .item_5 -->
    </div><!-- .vita -->
  </div><!-- .wrapper -->
</section><!-- biography -->

<section class="impressions spcr">
  <h1 class="hxr">
    Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/Impressionen/
  </h1>
  <h1 class="hxl">
    Studio/Orchestra/Studio/Studio/Orchestra/Studio/Studio/Orchestra/Studio/Studio/Orchestra/Studio/Studio/Orchestra/Studio/
  </h1>
  {%- include "partials/impressions.njk"-%}
</section><!-- impressions -->

<section class="contact spcr">
  <div class="wrapper">
    <div class="item_1 ">
      <h1 class="hxr">
        Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/Kontakt/
      </h1>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h1 class="hxl nx10">
        eMail/Mobile/eMail/Mobile/eMail/Mobile/eMail/Mobile/eMail/Mobile/eMail/Mobile/eMail/Mobile/eMail/Mobile/
      </h1>
    </div><!-- .item_2 -->

    <div class="item_3 ">
      <div class="rnd_img credits_img nx0">
        {% picture "hans-günter-wagener_02.png", "Portrait – Hans Günter Wagener"%}
      </div><!-- .rnd_img -->

      <p class="intro nx5 oov">
        Wenn Sie eine allgemeine oder Projekt-Anfrage haben, senden Sie mir gerne eine E-Mail oder rufen mich an.
        <br><br>Ich freue mich von Ihnen zu hören!
      </p><!-- .intro -->
    </div><!-- .item_3 -->

    <div class="item_4">
      <h3>
        <a href="tel:+491726047126" class="tel">+49 172 604 71 26</a>
      </h3>
      <h3>
        <a href="mailto:studio@wagener-music.com" class="mail">Schreiben Sie mir!</a>
      </h3>
    </div><!-- .item_4 -->
  </div><!-- .wrapper -->
</section><!-- contact -->
