<footer>

  <div class="wrapper">
<!--
    <ul class="item_1">
      <li><a href="">LinkedIn</a></li>
      <li><a href="">Instagram</a></li>
    </ul>
-->
    <ul class="item_2">
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="/datenschutz">Datenschutz</a></li>
    </ul>

    <ul class="item_3">
      <li>©{% year %}</li>
    </ul>

  </div><!-- .wrapper -->

</footer>
