<ul class="imdb">
  <li class="oov">
    <span class="title"><h3>Das Traumschiff</h3><wbr>
      <span class="details">TV Serie</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Kreuzfahrt ins Glück</h3><wbr>
      <span class="details">TV Serie</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>heute</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Terra X & Terra Xpress</h3><wbr>
      <span class="details">Sounddesign/Doku</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Maybritt Illner</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Frontal 21</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>ZDF Spezial</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Berlin direkt</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Fabulous Animals</h3><wbr>
      <span class="details">Dokumentation</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Der Jahrhundertkrieg</h3><wbr>
      <span class="details">Dokumentation</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Bella Block</h3><wbr>
      <span class="details">TV-Movie</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Auslandsjournal</h3><wbr>
      <span class="details">Sounddesign</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Mein Herz in Afrika</h3><wbr>
      <span class="details">TV Movie</span>
    </span>
  </li>
  <li class="oov">
    <span class="title"><h3>Schlafende Hunde</h3><wbr>
      <span class="details">TV Movie</span>
    </span>
  </li>
</ul><!-- .imdb -->
