<ul>
  <li>{% picture "hans-guenter-wagener.png", "Portrait – Hans Günter Wagener"%}</li>
  <li>{% picture "hans-guenter-wagener.png", "Portrait – Hans Günter Wagener"%}</li>
  <li>{% picture "hans-guenter-wagener.png", "Portrait – Hans Günter Wagener"%}</li>
</ul>
